{:deps {org.clojure/clojure {:mvn/version "1.9.0"}}

 :aliases
 {:dev
  {:extra-paths ["test"]
   :override-deps {org.clojure/clojure {:mvn/version "1.10.0-RC3"}}
   :extra-deps
   {org.clojure/clojurescript {:mvn/version "1.10.439"}
    olical/cljs-test-runner {:mvn/version "3.2.1"}
    com.cognitect/test-runner {:git/url "https://github.com/cognitect-labs/test-runner.git"
                               :sha "3cb0a9daf1cb746259dc8309b218f9211ad3b33b"}}}}}
